<div class="container contentpage-background">
    <div id="newuser-header">
        <h1 class="header-title"> Please complete the form below: </h1>
    </div>
    <div class="newuser-form">
        <div class="input-group input-group-lg">
            <input type="email" class="form-control" ng-model="email" placeholder="Email"><br>
            <input type="password" class="form-control"  ng-model="password" placeholder="Password"><br>
            <input type="text" class="form-control"  ng-model="firstname" placeholder="firstname"><br>
            <input type="text" class="form-control"  ng-model="lastname" placeholder="lastname"><br>
            <button id="compose-button" ng-click="create()">Create</button>
        </div>
    </div>
</div>