<div class="container contentpage-background">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="header">
            <div class="user-options">
                <p class="logged-user">Welcome, {{ loggedInUser.firstname }} // 
                    <span ng-click="goToUserManagment()" class="glyphicon glyphicon-cog user-management-cog" aria-hidden="true"></span> // 
                    <span> <button class="logout-button" ng-click="logout()">Logout</button> </span> 
                </p>
            </div>
            <div class="header-title-container">
                <h1 class="header-title">Open Spaces // <span> <button class="compose-button" ng-click="goToComposer()">Compose </button> </h1>
            </div>
        </div>
    </nav>
    <div id="singlebody">
        <div class="single-post">
            <h1 class="title"> "{{ post.title }}" </h1>
            <h2> By: {{ post.authorfirstname }} {{ post.authorlastname }}</h2>
            <h5 class="create-date"> Created On: {{ post.createdAt | date: 'short' }} </h5>
            <h5 class="category"> Category: {{ post.categoryname }} </h5>
            <div class="single-blogpost">
                <h4>{{ post.content }}</h4>
            </div>
        </div>
    </div>
</div>