<div class="container">
    <div class="userheader">
    <h1>Update Users</h1>
    <button class="update-button" ng-click="GoToNewUserPage()">Create New User</button>
    <button class="update-button" ng-click="logout()">Logout</button>
    </div>
    <div class="userbody">
        <div ng-repeat="u in users">
            <div class="update-div" id="{{ u.id }}">
                <h3>Edit User:</h3>
                <p> First Name: </p>
                <input type="text" placeholder="{{ u.fistname }}" ng-model="u.firstname">
                <p> Last Name: </p>
                <input type="text" placeholder="{{ u.lastname }}" ng-model="u.lastname">
                <p> Email: </p>
                <input type="text" placeholder="{{ u.email }}" ng-model="u.email">
                <p> Role: </p>
                <input type="text" placeholder="{{ u.role }}" ng-model="u.role"><br>
                <button class="update-button" ng-click="updateUser(u)">Update User</button>
                <button class="update-button" ng-click="deleteUser(u)">Delete User</button>
            </div>
        </div>
    </div>
</div>